
--link-folder "/Users/jackylee/Library/Application Support/Framer X Beta/yarn-link-folder"
disable-self-update-check true
yarn-path "/Users/jackylee/Applications/Framer X Beta.app/Contents/Resources/Server/lib/framerYarn.js"
